@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@
<div class="showcase">
    <div class="container-1">
        <div class="showcase-content">
            <h1><span class="primary-text">Movies</span> To Love.</h1>
            <p>No good movie is too long.</p>
            <p class="lead">No bad movie is short enough.</p>
            <div>@Html.ActionLink("Explore Movies", "Index", "Movies1", null, new { @class="home-action-link"})</div>
            <!-- <p class="lead">Every great film should seem new every time you see it.</p> -->
            <!-- insert action link here with a link to go to movies list -->
        </div>
    </div>
</div>
<section id="movie-info" class="bg-dark">
    <div class="info-img"></div>
    <div class="movie-content">
        <h2><span class="primary-text">Movies</span> Make You Feel</h2>

        
            <p>Every great film should seem new <span class="italics">every time</span> you see it.</p>
            <p></p>
            <p>Most of us do not consciously look at movies.</p>
            <p>
                The movies that are made more thoughtfully<br> or made with more
                ambition<br> often just get drowned out by the noise.
            </p>
            <footer>— Roger Ebert, <cite>Greatest Man Alive</cite></footer>
        
    </div>
</section>
